{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
  <div class="card-body">
    <h1>Welcome ..!</h1>
    <p>I am a self taught programmer, doing my bachlor's in Computer Science<br>Any help will be appreciated
        <br>Your donations will be used in education expences and in my project.! </p>
    <a class="btn btn-dark" href="/stripee/">
        Stripe</a>
    <a class="btn btn-dark" href="/paypal/">
        Paypal</a>
    <a class="btn btn-dark" href="/contact/">
        Contact</a>
  </div>
  </div>
{% endblock %}

